<!--<div class="ly-bck col-xs-12 positionF index-1"></div>-->
<div class="banner col-xs-12" ng-controller="lottery">
	
	<p class="text-center mt10 ft25 ly-title-text font-bold">小寿星们开始抽奖了......</p>
	<div class="turnplate overflow_hidden center" style="background:url(../../imgs/master/lottery/turntable.png) no-repeat;background-size:100% 98.5%;">
		<canvas class="item" id="wheelcanvas" width="422px" height="422px"></canvas>
		<img class="pointer" src="../../imgs/master/lottery/turnplate-pointer.png"/ >
	</div>
	<div style="text-align: center;position: relative;top: 0px;z-index: -2;">
		<img style="width: 70%;height: 16px;margin-top: -13px;" src="../../imgs/master/lottery/yiny.png" />
	</div>
	<img src="../../imgs/master/lottery/cd.png" style="position: absolute;top: 50px;width: 95%;height: 64%;z-index: -1;" />
	<div class="mt20">
		<div class="positionR">
			<img class="center index-0 col-xs-8 ly-title" src="../../imgs/master/lottery/record-title.png" />
			<p class="text-center line-height55 font-bold font-red ft25 positionR h55"></p>
		</div>
		<div class="ly-body col-xs-10 col-xs-offset-1 pd0 index-1">
			<ul class="mt50">
				<li class="overflow_hidden" ng-repeat="x in monthList">
					<p class="col-xs-4">{{x.workName}}</p>
					<p class="col-xs-8 text-center">{{x.prizeName}}</p>
				</li>
			</ul>
			<div id="" class="ly-list-footer positionR">
				<img class="ly-car positionA " src="../../imgs/master/lottery/car.png" />
				<p class="ml30 pt8" style="color: #7c0600;">人力资源小妹儿将于生日当天送到您手中!</p>
			</div>
		</div>
	</div>
	<img ng-click="goExplain()" class="centerLR arrow " src="../../imgs/master/arrow.png" />
	<div class="modal fade in" id="lottery" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog pd0 m0 mt35b">
			<div class="">
				<div class="modal-body pd0">
					<div class="ly-box h350">
						<img class="center w300 t-76" src="../../imgs/master/lottery/gold.png" />
						<img ng-src="{{imgUrl}}" class="center lyImg" />
						<div class="text-center positionR text-container">
							<h4 class="m0 font-bold font-red">恭喜你!</h4>
							<p class="w175 centerLR">获得{{prizeMsg}}</p>
							<p class="mb5">人力资源小妹儿正在派送中......</p>
							<button ng-click="goSatisficing()" type="button" class="changePassword col-xs-3 text-center border_none outline-none positionR bt0">确定</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="satisficing" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header border_none bckRed">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<div class="modal-title changePassword-title">
					<img class="reminder" src="../../imgs/master/satisficing/icon.png" />
					<!--<span class="reminder-img reminder"></span>-->
					<span class="ft16">满意度调查</span>
				</div>
			</div>
			<div class="modal-body overflow_hidden">
				<div class=" mt10 ft16 overflow_hidden">
					<p class="font-bold">1、您对本次生日福利形式是否满意？</p>
					<div class="w50b fl pr50 pl20">
						<img  class="w30 h30" src="../../imgs/master/satisficing/like_icon.png"/>
						<span>{{activeEndorse}}</span>
					</div>
					<div class="w50b fl text-left">
						<img class="w30 h30" src="../../imgs/master/satisficing/dislike.png"/>
						<span>{{activeOppose}}</span>
					</div>
				</div>
				<div id="" class=" mt10 ft16 overflow_hidden">
					<p class="font-bold">2、您对本次奖品是否满意？</p>
					<div class="w50b fl pr50 pl20">
						<img class="w30 h30" src="../../imgs/master/satisficing/like_icon.png"/>
						<span>{{prizeEndorse}}</span>
					</div>
					<div class="w50b fl">
						<img class="w30 h30" src="../../imgs/master/satisficing/dislike.png" />
						<span>{{prizeOppose}}</span>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center border_none">
				<button ng-click="isEndorse('companyBenediction')" type="button" class="mt-40 changePassword col-xs-6 outline-none">确认</button>
			</div>
		</div>
	</div>
</div>
	
	
	
</div>