<div ng-controller="msg">
	<div class="positionF col-xs-12 pd0 bck-white index-1000">
		<span ng-click="msgBack()" class="fl font-bold font-red ft35 line-height30">&lt;</span>
		<p class="text-center font-bold font-red positionA line-height30 index-1 w100b">留言板</p>
		<div class="m-list-line w100b positionA"></div>
	</div>
	<div class="col-xs-10 col-xs-offset-1 mt30 mb30 pd0">
		<ul>
			<li class="msg-li overflow_hidden pt8" ng-repeat="x in list">
				<div class="overflow_hidden positionR">
					<span class="fl">{{x.blePerson}}</span>
					<span class="fr">{{x.createTime}}</span>
				</div>
				<p class="fl mt5">{{x.bleContent}}</p>
			</li>
		</ul>
	</div>
</div>