html,body,document{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family:fzcyjt;
	src: url(../../fonts/fzcyjt.ttf);
}
@font-face {
	font-family:ltchGBK;
	src: url(../../fonts/ltchGBK.TTF);
}
@font-face {
	font-family:FZLTXHJW;
	src: url(../../fonts/FZLTXHJW.TTF);
}
@font-face {
	font-family:HYG3GJM;
	src: url(../../fonts/HYG3GJM.TTF);
}
@font-face {
	font-family:msyh;
	src: url(../../fonts/msyh.ttf);
}
@font-face {
	font-family:msyhbd;
	src: url(../../fonts/msyhbd.ttf);
}
.super{
	height: 100%;
}
.userIcon{
	background: url(../../imgs/master/login/user.png) no-repeat;
}
.passwordIcon{
	background: url(../../imgs/master/login/password.png) no-repeat;
}
.longevity-back-img{
	background: url(../../imgs/master/longevity/longevityBackImg.jpg) no-repeat;
	background-size: cover;
}
.longevity-back-set{
	min-height: 480px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	
}
.reminder{
	width: 26px;
	height: 26px;
}
.cake{
	width: 50px;
	margin-top: -10px;
}
.login_icon{
	background-size: contain;
	width: 36px;
	height: 36px;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.userIpt{
	text-align: center;
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	border-bottom: 2px solid #e0e0e0;
	font-size: 20px;
}
.login{
	border-radius: 50px;
	text-align: center;
	line-height: 15px;
	height: 30px;
	background: #e72920;
	width: 100%;
	outline: none;
	color: #FFFFFF;
}
.changePassword{
	border-radius: 6px;
	background: #e72920;
	float: none;
	color: #ffffff;
}
.changePassword-title{
	font-size: 18px;
	color: #f6f6f6;
}
.arrow{
	bottom: 0px;
	width: 40px;
	height: 30px;
	position: fixed;
	-webkit-animation: arrow 0.5s infinite linear;
}
.cb-title{
	width: 100%;
	height: 150px;
}
@-webkit-keyframes arrow{
	0%{
		bottom: 0%;
	}
	100%{
		bottom: 10px;
	}
}
@media(min-width:769px ) {
}
@media(max-width: 768px){
	.login_containere{
		background: url(../../imgs/master/login/login.jpg) no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 100%;
		min-height: 480px;
		position: fixed;
	}
	
	.login_btn{
		font-family: fzcyjt;
		font-size: 14px;
		/*width: 339px;
		height: 67px;*/
		display: inline-block;
		background-color: #ffd66b;
		border-radius: 50px;
		text-align: center;
		line-height: 15px;
		position: absolute;
		margin: 0 auto;
		height: 30px;
		bottom: 4%;
		left: 0;
		right: 0;
		color: #e72920;
	}
	.login_img{
		width: 100%;
		height: 100%;
	}
}

.login-border-bottom{
	border-bottom: 2px solid #e0e0e0;
}
.bckRed{
	background: #FF0000;
}
.bck-yellow{
	
}
.overflow_hidden{
	overflow: hidden;
}
.centerLR{
	margin: 0 auto;
	left: 0;
	right: 0;
}
.text-center{
	text-align: center;
}
.font-bold{
	font-weight: bold;
}
.font-red{
	color: #FF0000;
}
.border_none{
	border: none;
}
.outline-none{
	outline: none;
}
.ft10{
	font-size: 10px;
}
.ft12{
	font-size: 12px;
}
.ft14{
	font-size: 14px;
}
.ft16{
	font-size: 16px;
}
.pd0{
	padding: 0;
}
.pdLR5{
	padding: 0 5px;
}
.pdLR10{
	padding: 0 10px;
}
.pdL40{
	padding-left: 40px;
}
.positionR{
	position: relative;
}
.m0{
	margin: 0;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.disTab{
	display: table-cell;
}
