html,body,document{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
@font-face {
	font-family:fzcyjt;
	src: url(../../fonts/fzcyjt.ttf);
}
@font-face {
	font-family:ltch;
	src: url(../../fonts/ltchGBK.TTF);
}
.super{
	height: 100%;
}
@media(min-width:769px ) {
}
@media(max-width: 768px){
	.login_containere{
		background: url(../../imgs/master/login/login.jpg) no-repeat;
		background-size: contain;
		width: 100%;
		height: 1334px;
	}
	.login_btn{
		
	}
	.login_img{
		width: 100%;
		height: 100%;
	}
}