<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.birthday.master.blessing.dao.BirthBlessingMapper" >
  <resultMap id="BaseResultMap" type="com.hm.birthday.entity.BirthBlessing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="birth_person" property="birthPerson" jdbcType="VARCHAR" />
    <result column="birth_person_pnum" property="birthPersonPnum" jdbcType="VARCHAR" />
    <result column="ble_person" property="blePerson" jdbcType="VARCHAR" />
    <result column="ble_person_pnum" property="blePersonPnum" jdbcType="VARCHAR" />
    <result column="ble_content" property="bleContent" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, birth_person, birth_person_pnum, ble_person, ble_person_pnum, ble_content, update_time, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from birth_blessing_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from birth_blessing_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hm.birthday.entity.BirthBlessing" >
    insert into birth_blessing_info (id, birth_person, birth_person_pnum, 
      ble_person, ble_person_pnum, ble_content, 
      update_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{birthPerson,jdbcType=VARCHAR}, #{birthPersonPnum,jdbcType=VARCHAR}, 
      #{blePerson,jdbcType=VARCHAR}, #{blePersonPnum,jdbcType=VARCHAR}, #{bleContent,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hm.birthday.entity.BirthBlessing" >
    insert into birth_blessing_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="birthPerson != null" >
        birth_person,
      </if>
      <if test="birthPersonPnum != null" >
        birth_person_pnum,
      </if>
      <if test="blePerson != null" >
        ble_person,
      </if>
      <if test="blePersonPnum != null" >
        ble_person_pnum,
      </if>
      <if test="bleContent != null" >
        ble_content,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="birthPerson != null" >
        #{birthPerson,jdbcType=VARCHAR},
      </if>
      <if test="birthPersonPnum != null" >
        #{birthPersonPnum,jdbcType=VARCHAR},
      </if>
      <if test="blePerson != null" >
        #{blePerson,jdbcType=VARCHAR},
      </if>
      <if test="blePersonPnum != null" >
        #{blePersonPnum,jdbcType=VARCHAR},
      </if>
      <if test="bleContent != null" >
        #{bleContent,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hm.birthday.entity.BirthBlessing" >
    update birth_blessing_info
    <set >
      <if test="birthPerson != null" >
        birth_person = #{birthPerson,jdbcType=VARCHAR},
      </if>
      <if test="birthPersonPnum != null" >
        birth_person_pnum = #{birthPersonPnum,jdbcType=VARCHAR},
      </if>
      <if test="blePerson != null" >
        ble_person = #{blePerson,jdbcType=VARCHAR},
      </if>
      <if test="blePersonPnum != null" >
        ble_person_pnum = #{blePersonPnum,jdbcType=VARCHAR},
      </if>
      <if test="bleContent != null" >
        ble_content = #{bleContent,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hm.birthday.entity.BirthBlessing" >
    update birth_blessing_info
    set birth_person = #{birthPerson,jdbcType=VARCHAR},
      birth_person_pnum = #{birthPersonPnum,jdbcType=VARCHAR},
      ble_person = #{blePerson,jdbcType=VARCHAR},
      ble_person_pnum = #{blePersonPnum,jdbcType=VARCHAR},
      ble_content = #{bleContent,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>