<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.birthday.master.blessing.dao.BirthBlessingMapper" >
  <resultMap id="BaseResultMap" type="com.hm.birthday.entity.BirthBlessing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="birth_person" property="birthPerson" jdbcType="VARCHAR" />
    <result column="birth_person_pnum" property="birthPersonPnum" jdbcType="VARCHAR" />
    <result column="ble_person" property="blePerson" jdbcType="VARCHAR" />
    <result column="ble_person_pnum" property="blePersonPnum" jdbcType="VARCHAR" />
    <result column="ble_content" property="bleContent" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, birth_person, birth_person_pnum, ble_person, ble_person_pnum, ble_content, update_time, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from birth_blessing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 获取用户本月所有留言 -->
  <select id="selectAllByMonth" resultMap="BaseResultMap" parameterType="java.lang.String">
	SELECT
	<include refid="Base_Column_List" />
	FROM
		birth_blessing
	WHERE
		birth_person_pnum = #{birthPersonPnum,jdbcType=VARCHAR}
		AND date_format(create_time, '%Y-%m') = date_format(now(), '%Y-%m')
	ORDER BY
		id DESC
  </select>
  <insert id="insert" parameterType="com.hm.birthday.entity.BirthBlessing" >
    insert into birth_blessing (id, birth_person, birth_person_pnum, 
      ble_person, ble_person_pnum, ble_content, 
      update_time, create_time)
    values (#{id,jdbcType=INTEGER}, #{birthPerson,jdbcType=VARCHAR}, #{birthPersonPnum,jdbcType=VARCHAR}, 
      #{blePerson,jdbcType=VARCHAR}, #{blePersonPnum,jdbcType=VARCHAR}, #{bleContent,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>