<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.birthday.admin.prize.dao.PrizeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hm.birthday.entity.PrizeInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prize_no" property="prizeNo" jdbcType="VARCHAR" />
    <result column="prize_grade" property="prizeGrade" jdbcType="VARCHAR" />
    <result column="prize_name" property="prizeName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="crete_time" property="creteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, prize_no, prize_grade, prize_name, update_time, crete_time
  </sql>
  <select id="queryWithPage" resultMap="BaseResultMap" parameterType="com.hm.birthday.entity.PrizeInfo">
		select 
		<include refid="Base_Column_List"/>
		from prize_info
		where 1 = 1
		order by prize_no
  </select>
  <select id="queryAll" resultMap="BaseResultMap" parameterType="com.hm.birthday.entity.PrizeInfo">
		select 
		<include refid="Base_Column_List"/>
		from prize_info
		where 1 = 1
		order by id
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from prize_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from prize_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hm.birthday.entity.PrizeInfo" >
    insert into prize_info (id, prize_no, prize_grade, prize_name, 
      update_time, crete_time)
    values (#{id,jdbcType=INTEGER}, #{prizeNo,jdbcType=VARCHAR},, #{prizeGrade,jdbcType=VARCHAR}, #{prizeName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{creteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hm.birthday.entity.PrizeInfo" >
    insert into prize_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prizeNo != null" >
        prize_no,
      </if>
      <if test="prizeGrade != null" >
        prize_grade,
      </if>
      <if test="prizeName != null" >
        prize_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creteTime != null" >
        crete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prizeNo != null" >
        #{prizeNo,jdbcType=VARCHAR},
      </if>
      <if test="prizeGrade != null" >
        #{prizeGrade,jdbcType=VARCHAR},
      </if>
      <if test="prizeName != null" >
        #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creteTime != null" >
        #{creteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hm.birthday.entity.PrizeInfo" >
    update prize_info
    <set >
      <if test="prizeNo != null" >
        prize_no = #{prizeNo,jdbcType=VARCHAR},
      </if>
      <if test="prizeGrade != null" >
        prize_grade = #{prizeGrade,jdbcType=VARCHAR},
      </if>
      <if test="prizeName != null" >
        prize_name = #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creteTime != null" >
        crete_time = #{creteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hm.birthday.entity.PrizeInfo" >
    update prize_info
    set prize_no = #{prizeNo,jdbcType=VARCHAR},
      prize_grade = #{prizeGrade,jdbcType=VARCHAR},
      prize_name = #{prizeName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      crete_time = #{creteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>