<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.birthday.master.praise.dao.WinPraiseMapper" >
  <resultMap id="BaseResultMap" type="com.hm.birthday.entity.WinPraise" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="crete_time" property="creteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone_num, update_time, crete_time
  </sql>
  
  <select id="selectCount" resultType="java.lang.Integer">
  	SELECT
		count(id)
	FROM
		win_praise
  </select>
  <select id="selectByPhoneNum" parameterType="java.lang.String" resultType="com.hm.birthday.entity.WinPraise">
	select 
	<include refid="Base_Column_List" />
	from win_praise
	where phone_num = #{phoneNum,jdbcType=VARCHAR}
	limit 1
  </select>
  <insert id="insert" parameterType="com.hm.birthday.entity.WinPraise" >
    insert into win_praise (id, phone_num, update_time, 
      crete_time)
    values (#{id,jdbcType=INTEGER}, #{phoneNum,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creteTime,jdbcType=TIMESTAMP})
  </insert>
  
</mapper>